/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 16, ../sass/screen.scss */
p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14pt;
  padding: 15px 0;
}

/* line 22, ../sass/screen.scss */
li {
  font-family: "Merriweather Sans", sans-serif;
  list-style: none;
  font-size: 18pt;
}

/* line 28, ../sass/screen.scss */
ul {
  padding: 0;
}

/* line 32, ../sass/screen.scss */
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 40pt;
}

/* line 38, ../sass/screen.scss */
h2 {
  font-family: "Lato", sans-serif;
  margin: 20px 0 10px 0;
  font-weight: 600;
  color: #404040;
}

/* line 45, ../sass/screen.scss */
a.contact {
  padding: 0 5px;
  margin-bottom: 2px;
}

/* line 50, ../sass/screen.scss */
label, button, input {
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  font-weight: 700;
}

/* line 56, ../sass/screen.scss */
input {
  margin: 10px 0;
}

/* line 60, ../sass/screen.scss */
.form-horizontal label.control-label {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 65, ../sass/screen.scss */
.container {
  width: 720px;
}

@media only screen and (max-width: 719px) {
  /* line 71, ../sass/screen.scss */
  .container {
    width: 100%;
    padding: 0 15px;
  }

  /* line 75, ../sass/screen.scss */
  li {
    font-size: 14pt;
  }

  /* line 78, ../sass/screen.scss */
  .form-horizontal label.control-label {
    margin: 0px;
  }

  /* line 81, ../sass/screen.scss */
  h1 {
    font-size: 30pt;
  }
}
/* line 86, ../sass/screen.scss */
header#top-header {
  margin: 40px 0;
}

/* line 90, ../sass/screen.scss */
section {
  border-bottom: 2px solid #c9c9c9;
  border-top: 2px solid #c9c9c9;
  margin-bottom: 40px;
}

/* line 96, ../sass/screen.scss */
.senate.democrat {
  color: #153885;
}

/* line 100, ../sass/screen.scss */
.senate.republican {
  color: #851515;
}

/* line 104, ../sass/screen.scss */
senate.independent {
  color: #4f4f4f;
}

/* line 108, ../sass/screen.scss */
.house.democrat {
  color: #5b73a9;
}

/* line 112, ../sass/screen.scss */
.house.republican {
  color: #a95b5b;
}

/* line 116, ../sass/screen.scss */
house.independent {
  color: #838383;
}
